/venv/
/db.sqlite3
/.env
.idea/
/.idea/.gitignore
/.idea/django_329.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
.idea/git_toolbox_prj.xml
.vscode/settings.json
.workspace.xml