<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><b>Первый шаблон<b></title>
    <style>
        .green {
            color: green;
        }
    </style>
</head>
<body>
<nav>
    <ul>
       {% for item in menu%}
        <li {% if forloop.first %} class="green" {% endif %}>
<!--            <a href="{{item.url}}">{{item.title}}</a> Хард кодинг-->
            <a href="{% url item.url_name %}">{{item.title}}</a>
<!--            Хард Кодинг при динамических урлах, Главное не трогать имена-->
        </li>
        {% if not forloop.last %}<hr>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
    <h1>Первый шаблон</h1>
    <p>Содержимое главной страницы</p>
</body>
</html>