<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
<header>
<nav>
    {% include 'include/nav_menu.html' %}
    {% block categories %}
    {% endblock %}
</nav>
</header>
{% block content %}
{% endblock %}
<script>
     {% block script %}
     {% endblock %}
</script>
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</html>